In [13]:
# Import the required packages
import requests
import duckdb
import pandas as pd
from datetime import datetime, timedelta

In [14]:
# Store the base API information, for this, I'm using NASA's Near Earth Object (NEO) API
api_key_path = "/Users/chriskornaros/Documents/local-scripts/.api_keys/nasa/key.txt"
with open(api_key_path, "r") as file:
    api_key = file.read().strip()

start_date = datetime.strptime("1900-01-01", "%Y-%m-%d")
end_date = start_date + timedelta(days=35)  # Pull data for the first 5 weeks

In [15]:
# Initialize an empty list to store the data
all_data = []

# Iterate through the date range in 7-day increments
current_date = start_date
while current_date < end_date:
    next_date = current_date + timedelta(days=7)
    url = f"https://api.nasa.gov/neo/rest/v1/feed?start_date={current_date.strftime('%Y-%m-%d')}&end_date={next_date.strftime('%Y-%m-%d')}&api_key={api_key}"

    # Fetch data from the API
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        for date in data["near_earth_objects"]:
            flat_data = pd.json_normalize(data["near_earth_objects"][date])
            all_data.append(flat_data)
    else:
        print(f"Error: {response.status_code}")

    current_date = next_date

# Concatenate all the data into a single DataFrame
if all_data:
    final_data = pd.concat(all_data, ignore_index=True)
else:
    final_data = pd.DataFrame()

In [16]:
#  Open a connection to the persistent database
con = duckdb.connect("test.duckdb")

# Store the data in DuckDB
con.sql("""
    CREATE TABLE IF NOT EXISTS asteroids AS
    SELECT * EXCLUDE(nasa_jpl_url, close_approach_data, 'links.self')
    , unnest(close_approach_data, recursive := true)
    FROM final_data
""")

# Verify the data was stored correctly
result = con.sql("SELECT * FROM asteroids").fetchdf()
print(result)

# Close the connection
con.close()

           id neo_reference_id               name  absolute_magnitude_h  \
0     2068347          2068347  68347 (2001 KB67)                 19.92
1     2086450          2086450  86450 (2000 CK33)                 18.45
2     3102762          3102762        (2002 AA29)                 24.10
3    54244180         54244180         (2022 BU6)                 25.95
4    54278313         54278313         (2022 JH1)                 22.26
..        ...              ...                ...                   ...
238   3648642          3648642        (2013 SM20)                 25.10
239   3825155          3825155         (2018 LO3)                 25.51
240   3836662          3836662         (2018 WN2)                 21.20
241  54017559         54017559          (2020 MX)                 23.95
242  54421074         54421074          (2024 BH)                 23.22

     is_potentially_hazardous_asteroid  is_sentry_object  \
0                                 True             False
1                                False             False
2                                False             False
3                                False              True
4                                False             False
..                                 ...               ...
238                              False             False
239                              False             False
240                              False             False
241                              False             False
242                              False             False

     estimated_diameter.kilometers.estimated_diameter_min  \
0                                             0.275775
1                                             0.542694
2                                             0.040230
3                                             0.017161
4                                             0.093876
..                                                 ...
238                                           0.025384
239                                           0.021016
240                                           0.152952
241                                           0.043108
242                                           0.060333

     estimated_diameter.kilometers.estimated_diameter_max  \
0                                             0.616652
1                                             1.213501
2                                             0.089958
3                                             0.038374
4                                             0.209913
..                                                 ...
238                                           0.056760
239                                           0.046994
240                                           0.342011
241                                           0.096392
242                                           0.134909

     estimated_diameter.meters.estimated_diameter_min  \
0                                          275.775053
1                                          542.693946
2                                           40.230458
3                                           17.161489
4                                           93.876087
..                                                ...
238                                         25.383703
239                                         21.016238
240                                        152.951935
241                                         43.107712
242                                         60.333008

     estimated_diameter.meters.estimated_diameter_max  ...  \
0                                          616.651765  ...
1                                         1213.500554  ...
2                                           89.958039  ...
3                                           38.374257  ...
4                                          209.913311  ...
..                                                ...  ...
238                                         56.759685  ...
239                                         46.993737  ...
240                                        342.010925  ...
241                                         96.391775  ...
242                                        134.908707  ...

     close_approach_date_full  epoch_date_close_approach  \
0           1900-Jan-05 02:23             -2208634620000
1           1900-Jan-05 18:50             -2208575400000
2           1900-Jan-05 00:35             -2208641100000
3           1900-Jan-05 16:19             -2208584460000
4           1900-Jan-05 23:41             -2208557940000
..                        ...                        ...
238         1900-Feb-05 03:46             -2205951240000
239         1900-Feb-05 11:56             -2205921840000
240         1900-Feb-05 00:07             -2205964380000
241         1900-Feb-05 05:59             -2205943260000
242         1900-Feb-05 17:46             -2205900840000

     kilometers_per_second  kilometers_per_hour    miles_per_hour  \
0            15.9034657895     57252.4768421698  35574.4626245138
1            16.8068679571     60504.7246454761  37595.2829331849
2            13.2576786508     47727.6431429138  29656.1013739955
3             8.1681550896     29405.3583225278  18271.3461199062
4            21.0882405173        75917.6658621  47172.2852130365
..                     ...                  ...               ...
238          11.6746816437      42028.853917383  26115.0953688317
239           4.1973281809     15110.3814513386   9389.0034079165
240           2.7773904967      9998.6057880192   6212.7448020056
241            11.63351362     41880.6490321141  26023.0066166489
242           7.4243044812     26727.4961323087  16607.4266939893

     astronomical           lunar          kilometers                miles  \
0    0.4005246415  155.8040855435  59917633.250913605   37231090.873493549
1    0.1501929348   58.4250516372  22468543.135128876  13961305.3098394488
2    0.4112706508  159.9842831612  61525213.353193796  38229994.8292585448
3     0.249241208    96.954829912   37285953.83302696   23168417.378053648
4    0.4707612536  183.1261276504  70424880.817089832  43759991.7619584016
..            ...             ...                 ...                  ...
238  0.3532687393  137.4215395877  52848250.936865291  32838380.3962353758
239  0.2652479744  103.1814620416  39680531.992054528  24656339.2502193664
240  0.3759995972  146.2638433108  56248738.861977964  34951345.6134013432
241  0.3584458899  139.4354511711  53622741.639294513  33319626.6030417594
242  0.0721189967   28.0542897163  10788848.292857029   6703879.4661598402

    orbiting_body
0           Earth
1           Earth
2           Earth
3           Earth
4           Earth
..            ...
238         Earth
239         Earth
240         Earth
241         Earth
242         Earth

[243 rows x 26 columns]

In [313]:
# Flatten the output and then read it with DuckDB to get the column data types
flat_data = pd.json_normalize(data["near_earth_objects"]["2024-12-02"])

raw = con.sql("""CREATE TABLE asteroids AS
                SELECT * EXCLUDE(nasa_jpl_url, close_approach_data, 'links.self')
                , unnest(close_approach_data, recursive := true)
                FROM flat_data
                """)

In [ ]:
flat_data = pd.json_normalize(data["near_earth_objects"]["2024-12-02"])  # Test this
unnested_data = (
    duckdb.sql("""SELECT * EXCLUDE(nasa_jpl_url, close_approach_data, 'links.self')
                                , unnest(close_approach_data, recursive := true)
                                FROM {a}
                                """)
    .fetchdf()
    .format(a=flat_data)
)

In [17]:
con.close()